body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dashboard a {
  padding: 15px 25px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-radius: 6px;
}

.dashboard a:hover {
  background-color: #f2f2f2;
}
